@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



/* universal style here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font declaration */
.merriweather{
    font-family: "Merriweather", serif;
}
/* hero section start here */
.hero-image{
    background-image: url(./images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 1100px;
    margin: 20px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 16px;
}
.hero-content{
    color: white;
}
.hero-content p{
    font-size: 32px;
}
.hero-content h1{
    font-size: 72px;
    width: 632px;
}
/* Discount section start here */
.discount-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.discount-container{
    margin: 20px 70px;
}
.discount-content{
    margin-bottom: 48px;
}
.discount-content h1{
    color: #ff0000;
    font-size: 88px;
    text-align: center;
    font-weight: 700;
}
.discount-content p{
    font-size: 24px;
    color: #ff0000;
    text-align: center;
    margin-top: 50px;
}
.discount-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    text-align: center;
    margin-top: 16px;
}
.discount-image{
    width: 600px;
    height: 400px;
}
.discount-image img{
    width: 100%;
    height: 100%;
}
/* Welcome section start here */
.welcome-section{
    background-image: url(./images/Vectorrr.png);
    background-size: cover;
    background-position: center;
    width: 1100px;
    height: 500px;
    margin: 20px 70px ;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 16px;
}
.welcome-container{
    color: white;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
}
.welcome-title{
    width: 642px;
    font-size: 64px;
}
.welcome-content p{
    width: 697px;
    opacity: 80%;
    font-size: 18px;
}
.welcome-content button{
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: white;
    margin:48px 0px 0px 30px;
}
.welcome-image{
    width: 255px;
    height: 390px;
}
.welcome-image img{
    width: 100%;
    height: 100%;
}
/* Schedule section start here */
.schedule-section{
    width: 1100px;
    height: 400px;
    background: linear-gradient(to bottom , rgba(255,0,0,0.1),rgba(255,0,0,0));
    margin: 80px 70px 0px 70px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.schedule-container{
    text-align: center;
}
.schedule-container p{
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}
.schedule-container p span{
    color: #ff0000;
    margin-right: 10px;
}
.schedule-container button{
    font-weight: 700;
    font-size: 20px;
    background-color: #ff0000;
    color: white;
    width: 150px;
    height: 55px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}
/* best-offer section start here */
.best-offer-section{
    width: 1100px;
    height: 500px;
    margin: 30px 70px 0px 70px;
}
.best-offer-container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.best-offer-content-start{
    width: 850px;
}
.best-offer-content-start h3{
    font-size: 24px;
    font-weight: 400;
    color: #ff0000;
}
.best-offer-content-start h4{
    font-size: 48px;
    color: #070211;
    font-weight: 600;
    margin: 16px 0px 20px 0px;
}
.best-offer-content-start p{
    color: #070211;
    opacity: 60%;
    font-size: 18px;
}
.best-offer-image{
    width: 700px;
    height: 320px;
    border: 10px solid #ff0000;
    border-radius: 50%;
    padding: 30px;
    
}
.best-offer-image img{
    width: 100%;
    height: 100%;
    
}
.best-offer-content-last h4{
    font-size: 48px;
    font-weight: 600;
    color: #ff0000;
}
.best-offer-content-last p{
    font-size: 18px;
    color: #070211;
    opacity: 60%;
    margin: 16px 0px 30px 0px;
}
.offer-content-last-image{
    width: 140px;
    height: 140px;
}
.offer-content-last-image img{
    width: 100%;
    height: 100%;
}
/* Holiday sale section start here */
.holiday-sale-section{
    width: 1100px;
    height: 300px;
    margin: 0px 70px;
    padding: 0px 50px;
}
.holiday-container{
    text-align: center;
    color: #070211;
}
.holiday-container h3{
    font-size: 22px;
    font-weight: 400;
}
.holiday-container h4{
    font-size: 70px;
    font-weight: 600;
    margin: 16px 0px 28px 0px;
}
.holiday-container h4 span{
    color: #ff0000;
}
.holiday-container p{
    font-size: 18px;
    opacity: 60%;
    padding: 0px 15px;
}
/* gift-box section start here */
.gift-box-section{
    width: 1100px;
    height: 500px;
    margin: 20px 70px;
}
.gift-box-container{
    width: 1100px;
    height: 500px;
    position: relative;
}
.gift-box-image-one{
    width: 1100px;
    position: absolute;
    bottom: 0px;
    left: 0px;
   
}
.gift-box-image-one img{
    width: 100%;
    z-index: 1;
}
.gift-box-image-two{
    width: 550px;
    position: absolute;
    left: 60px;
    z-index: 2;
}
.gift-box-image-two img{
    width: 100%;   
}
.gift-box-image-three{
    width: 250px;
    position: absolute;
    right: 40px;
    top: 30px;
}
.gift-box-image-three img{
    width: 100%;
}
/* Portfolio section start here */
.portfolio-section{
    width: 1100px;
    margin: 60px 70px;
}
.portfolio-content h3{
    font-size: 24px;
    font-weight: 400;
    color: #ff0000;
}
.portfolio-content h4{
    font-size: 48px;
    font-weight: 600;
    color: #070211;
    margin: 16px 0px;
}
.portfolio-content p{
    font-size: 18px;
    color: #070211;
    opacity: 60%;
    width: 720px;
}
.portfolio-images{
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
}
.portfolio-image{
    width: 350px;
    height: 420px;
}
.portfolio-image img{
    width: 100%;
    height: 100%;
}
/* Newsletter section start  */
.news-letter-section{
    width: 1100px;
    margin: 40px 70px;
    text-align: center;
    background-color:rgba(255,0,0,0.1);
    padding: 80px;
    border-radius: 16px;
}
.news-letter-image{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.news-letter-image img{
    width: 100%;
    height: 100%;
}
.news-letter-container h1{
    font-size: 48px;
    font-weight: 600;
    color: #070211;
    margin: 30px 0px 0px 0px;
}
.news-letter-container p{
    font-size: 18px;
    color: #070211;
    opacity: 60%;
    margin: 40px auto ;
    width: 790px;
    text-align: center;
}
.news-letter-input{
    width: 540px;
    height: 60px;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
}
.news-letter-input input{
    height: 60px;
    width: 400px;
    border-start-start-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    color: #070211;
    opacity: 60%;
    padding-left: 30px;
    font-size: 18px;
}
.news-letter-input button{
    height: 60px;
    width: 140px;
    background-color: #ff0000;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    font-size: 18px;
}