*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkblue;
}
h1{
    text-align: center;
    color: #fff;
}
.main-div{
   display: flex;
   margin: 10px;
   gap: 10px;
}
.main-div div{
    background-color: antiquewhite;
    padding: 10px;
}